//sidebar
$color-theme: #e43130;
$color-theme-light: #ff3130;
$color-theme-l: #326aa8;
$color-theme-ll: #8ba8c9;
$color-background: #f5f5f5;
$color-text-dark: #333333;
$color-text: #666666;
$color-text-mid: #666666;
$color-text-thin: #999999;
$color-text-gray: #b5b5b5;
$color-text-white: #ccc;
$color-line: #eeeeee;
$color-line-l: #dddddd;
$color-side-txt-def: #333333;

$h_side_item: 50px;
$h_normal_action_view: 40px;
$w_normal_action_frame: 250px;


